:root { 
--black_900_7f:#0000007f; 
--gray_50_00:#fafafa00; 
--gray_900_99:#1b1a1a99; 
--light_green_200:#d4c38b; 
--gray_600_a0:#7c7b7ba0; 
--yellow_A400:#ffe800; 
--gray_804:#453a25; 
--gray_805:#3f3824; 
--gray_402:#c0ad9e; 
--lime_300:#d8c173; 
--gray_400:#bdbdbd; 
--lime_301:#e0cd81; 
--black_900_0a:#0000000a; 
--gray_401:#d7c1b3; 
--lime_302:#d2c281; 
--gray_802:#574f35; 
--lime_303:#d6bc6f; 
--lime_700:#caa13e; 
--orange_209:#e9ce77; 
--gray_803:#543e26; 
--lime_304:#dfc677; 
--gray_800:#414141; 
--lime_701:#ba9f33; 
--orange_208:#e6c367; 
--lime_305:#dec270; 
--blue_500:#2196f3; 
--gray_801:#585136; 
--lime_702:#c2a44d; 
--orange_207:#e5c66b; 
--orange_206:#ebcc73; 
--amber_100:#f4ecb4; 
--orange_205:#e3c571; 
--black_900_0f:#0000000f; 
--amber_101:#f2e8b0; 
--orange_204:#e2c270; 
--orange_203:#e5cc7c; 
--orange_202:#dfc57c; 
--orange_201:#e5cb7a; 
--orange_200:#e2cc85; 
--bluegray_801:#3e4462; 
--bluegray_800:#3d3f4c; 
--black_900_11:#00000011; 
--gray_600_5b:#7c7b7b5b; 
--lime_703:#c89d3a; 
--lime_50:#f7f7e7; 
--lime_704:#c39d3c; 
--lime_705:#c0993a; 
--blue_100:#c7d2fe; 
--black_900_19:#00000019; 
--lime_706:#c49937; 
--lime_707:#c99e3d; 
--lime_708:#c29637; 
--lime_709:#be9c44; 
--gray_51:#f9f9f9; 
--red_700:#e31d1c; 
--yellow_903:#e4751f; 
--yellow_902:#e2761b; 
--gray_900_e2:#212121e2; 
--gray_600_59:#7c7b7b59; 
--gray_50:#f7fcff; 
--orange_211:#e3c677; 
--orange_210:#eac970; 
--yellow_901:#f6851b; 
--yellow_900:#e4761b; 
--deep_orange_800:#cd6116; 
--gray_905:#39331f; 
--gray_906:#292311; 
--gray_903:#0e0f23; 
--gray_904:#252211; 
--gray_909:#111827; 
--gray_907:#2d2815; 
--gray_908:#2d2816; 
--orange_A100:#f1d789; 
--lime_200:#f3e19d; 
--lime_201:#e6db9d; 
--lime_202:#e6d89c; 
--lime_203:#e2d59d; 
--orange_A101:#ecd592; 
--gray_901:#212121; 
--lime_600:#ceb052; 
--gray_902:#161616; 
--lime_601:#cca847; 
--lime_602:#d3ae4d; 
--gray_900:#242424; 
--lime_603:#cdae50; 
--lime_604:#d2a83e; 
--lime_605:#cba94c; 
--lime_606:#cca849; 
--lime_607:#cbac5a; 
--indigo_700:#2e42a4; 
--lime_608:#c4a859; 
--lime_609:#cbaf59; 
--red_600:#e64040; 
--black_900_3f:#0000003f; 
--teal_300:#50af95; 
--white_A700_ab:#ffffffab; 
--purple_900:#4f0166; 
--white_A700_19:#ffffff19; 
--gray_600:#727272; 
--lime_101:#f4efc8; 
--gray_601:#7c7b7b; 
--orange_A200:#ffad34; 
--gray_604:#6b7280; 
--gray_602:#82764f; 
--lime_900:#763d16; 
--gray_603:#84754b; 
--yellow_A700:#fed700; 
--gray_200:#ebebeb; 
--yellow_A702:#ffd700; 
--yellow_A701:#ffce00; 
--lime_100:#f5eec0; 
--gray_600_1c:#7c7b7b1c; 
--lime_901:#8c6228; 
--lime_902:#7a6a2a; 
--lime_903:#92723a; 
--lime_904:#806031; 
--lime_905:#685026; 
--white_A700:#ffffff; 
--lime_810:#ac924c; 
--lime_811:#9f8e57; 
--lime_812:#927d49; 
--black_900_9e:#0000009e; 
--gray_800_bf:#414141bf; 
--light_green_300:#c3b378; 
--black_900:#000000; 
--yellow_700:#f3ba2f; 
--gray_50_33:#fafafa33; 
--gray_700:#5e5d5d; 
--lime_400:#cfb66c; 
--lime_401:#ccb360; 
--lime_402:#d2ba6b; 
--lime_403:#dfc068; 
--amber_600:#f5b300; 
--lime_800:#a88f33; 
--gray_701:#6e6342; 
--lime_404:#d4b968; 
--lime_801:#988430; 
--gray_702:#6f674d; 
--lime_405:#d7bc6b; 
--orange_305:#dcba5a; 
--orange_304:#e6bd62; 
--orange_303:#d8b65b; 
--gray_600_7a:#7c7b7b7a; 
--orange_302:#d2b159; 
--orange_301:#d2b257; 
--orange_300:#d5b457; 
--gray_300:#dcdfe4; 
--bluegray_900:#252b42; 
--orange_50:#f8f6de; 
--lime_802:#b59544; 
--lime_803:#b6933f; 
--lime_804:#b58634; 
--lime_805:#ac8132; 
--blue_200:#8ec2f2; 
--lime_806:#a67a2e; 
--lime_807:#a17c34; 
--lime_808:#b18e3e; 
--bluegray_902:#2b2b2b; 
--bluegray_901:#233447; 
--lime_809:#b6903c; 
}